.fotinha
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 200px;
}

body{
    background-color: rgb(181, 137, 255);
    text-align: center;
    margin: 0;
}

.nome
{
    color: azure;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-top: 40px;
    margin-bottom: 90px;
}

.especific{
    color: azure;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.aplicativo{
    width: 30px;
    height: 30px;
}
.link{
    color:rgb(181, 137, 255) ;
}

.apresentacao {
    color: azure;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: rgb(94, 94, 94);  
    margin-top: 250px;    
}

.ola {
    text-align: justify;
    padding: 20px;
}

.inPort{
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(76, 56, 106);
    font-size: 20px;
    margin-top: 200px;
    text-shadow: 5px 5px 5px blueviolet;
    font-size: 30px;
}

.warft{
    width: 400px;
    height: 550px;
    transform:  rotate(90deg);
}

.h3f{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;

}

h3{
    width:  600px;
    float: right;
    margin-left: 600px;
    margin-top: -350px;
    text-align: justify;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue; 
}

.lista{
    color: aliceblue;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    margin-top: 200px;
    margin-left: 100px;
    
    
}

.lista1
{
    color: rgb(76, 56, 106);
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    margin-top: 100px;
}

.listaa
{
    color: aliceblue;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    margin-top: 200px;
    margin-left: 800px;
    margin-bottom: 80px;
}

.lista2{
    color: rgb(76, 56, 106);
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
}
